*{
    text-align: center;
    font-size: 24px;
    color: cadetblue;
    font-style:italic;
}
#main-head{
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    margin-top: 250px;
    color: goldenrod;
    font-style: normal;
}